.navbar-separator {
  height: 20px;
  border-left: 1px solid gray;
  margin: 10px;
}

.bp3-navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bp3-navbar-heading a {
  color: white;
}
