html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App-column header {
  height: 70px;
}

.App-column header a {
  float: right;
  margin: 1rem;
  padding: 1rem;
  border: 1px dashed;
}

.App-header form div {
  display: inline-block;
  margin-left: 1rem;
  height: 24px;
}
